.notes-pages{
  background-color: oldlace;
  font-size: clamp(1em, 3vmax, 1.2em);
  line-height: clamp(1em, 10vmax, 2em);
  margin-left: 7vw;
  margin-right: 7vw;
  box-sizing: border-box;
  color: #333333;
}

h1{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
  margin: 0;
  padding: 0;
}

.btn{
  text-decoration: none;
  text-align: center;
  color: white;
  display: inline-block;
  padding: 0.5vmax 2vmax;
  margin-bottom: 3vmax;
  background-color: black;
  border-radius: 10px;
}

.left-link{
  float: left;
}

.right-link{
  float: right;
}


img{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.img-description{
  text-align: center;
}

.main-page{
  box-sizing: border-box;
  margin: 0;
  padding: 0 10%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 25vmax;
}

.main-page-firstdiv{
  background-color: #900C35;
  color: ghostwhite;
  height: 50vmax;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-page-seconddiv{
  background-color: #FEFEFE;
}

.main-page-thirddiv{
  background-color: oldlace;
}

.main-page-fourthdiv{
  background-color: #FEFEFE;
}

.main-page-fifthdiv{
  background-color: oldlace;
}

.main-page-h1{
  margin-bottom: 2vmax;
}



.content-page-body{
  background-color: oldlace;
  font-size: clamp(1em, 3vmax, 1.2em);
  box-sizing: border-box;
  line-height: clamp(1em, 10vmax, 2em);
  margin-left: 7vw;
  margin-right: 7vw;
}

nav{
  text-align: center;
}

.content-link{
  text-decoration: none;
  text-align: center;
  background-color: black;
  margin-bottom: 1px;
  padding: 5px 20px;
  display: block;
  color: white;
}